@charset "UTF-8";
/* CSS Document */
	
	/*------------------------------------------------------------------*/
	/*global styles*/
	/*------------------------------------------------------------------*/
	
	body {	/*the outer layer of the site and global style attributes*/
	background: no-repeat url(http://www.egodecal.com/images/bg.png) 0 0;
	background-color:#F2F2F2;
	background-repeat: repeat;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top:0%;
	margin-left:0%;
	margin-bottom:0%;
	margin-right:0%;
	font-size:12px;
	}
	
	h2 {	/*headings for Feeds*/
	color:#857c78;
	}
	
	#container{
		position: relative;
	}
	#data{	/* The Feed Data - always hidden */
		display:none;
	}
	
	a:link { color: black; text-decoration: none;}
	a:active { color: red; text-decoration: none;}
	a:visited { color: black; text-decoration: none;}
	
	/*------------------------------------------------------------------*/
	/*the left sidebar*/
	/*------------------------------------------------------------------*/
	
	#sidebar1 {
		padding-top: 10px;
		width: 53px;
		position: fixed;
		height: 100%;
		box-shadow: 1px 0px 2px #575757;
		background-image: -ms-linear-gradient(left, #464646 0%, #505050 100%);
		background-image: -moz-linear-gradient(left, #464646 0%, #505050 100%);
		background-image: -o-linear-gradient(left, #464646 0%, #505050 100%);
		background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #464646), color-stop(1, #505050));
		background-image: -webkit-linear-gradient(left, #464646 0%, #505050 100%);
		background-image: linear-gradient(to right, #464646 0%, #505050 100%);
		z-index: 100;
	}
	.icon {
		padding-top: 5px;
		padding-bottom: 5px;
		cursor: pointer;
		border-bottom: 1px solid #3C3C3C;
		border-top: 1px solid #535353;
	}
	.iconActive {
	background-image: -ms-radial-gradient(right center, circle farthest-corner, #463636 0%, #0E0E0E 100%);
	background-image: -moz-radial-gradient(right center, circle farthest-corner, #463636 0%, #0E0E0E 100%);
	background-image: -o-radial-gradient(right center, circle farthest-corner, #463636 0%, #0E0E0E 100%);
	background-image: -webkit-gradient(radial, right center, 0, right center, 964, color-stop(0, #463636), color-stop(1, #0E0E0E));
	background-image: -webkit-radial-gradient(right center, circle farthest-corner, #463636 0%, #0E0E0E 100%);
	background-image: radial-gradient(circle farthest-corner at right center, #463636 0%, #0E0E0E 100%);
	border-top: none;
	border-bottom: none;
	}
	.iconFirst{
		border-top: none;
		padding-bottom: 15px;
	}
	.iconLast{
		border-bottom: none;
	}
	.iconimg{	/*icons*/
		border-style:none;
		border:0;
	}
	
	
	
	/* Master Search Box*/
	#search{
		position:fixed;
		top:98px;
		left:53px;
		width:380px;
		color:#a9a9a9;
		height:35px;
		z-index:2;
	background-image: -ms-radial-gradient(right center, circle farthest-corner, #463636 0%, #0E0E0E 100%);
	background-image: -moz-radial-gradient(right center, circle farthest-corner, #463636 0%, #0E0E0E 100%);
	background-image: -o-radial-gradient(right center, circle farthest-corner, #463636 0%, #0E0E0E 100%);
	background-image: -webkit-gradient(radial, right center, 0, right center, 964, color-stop(0, #463636), color-stop(1, #0E0E0E));
	background-image: -webkit-radial-gradient(right center, circle farthest-corner, #463636 0%, #0E0E0E 100%);
	background-image: radial-gradient(circle farthest-corner at right center, #463636 0%, #0E0E0E 100%);
		display:none;
		padding-top:15px;
		padding-left:15px;
	}
	.search_category{
		float:left;
		font-size:11px;
		margin-top:5px;
		margin-left:7px;
		display:inline;
	}
	#search input[type=text] {
		float:left;
		padding:3px;
		background-color:transparent;
		width:200px;
		border-top-style:none;
		border-left-style:none;
		border-right-style:none;
		border-bottom-width:1px;
		border-bottom-color:#857c78;
		border-bottom-style:solid;
	}
	
	
	/*------------------------------------------------------------------*/
	/*the right sidebar and the bottoms sections*/
	/*------------------------------------------------------------------*/
	
#usersidebar {
position: absolute;
right: 0px;
width: 250px;
margin-top: 10px;
}
	
#usersidebar_wrapper {
height: 100%;
margin-left: 21px;
margin-right: 20px;
padding-bottom: 40px;
box-shadow: 0px 2px 2px #CFCFCF;
position: relative;
}
	
#usersidebar_profile {
padding: 10px;
box-shadow: 0px 2px 2px #CFCFCF;
background-color: white;
position: fixed;
top: 10px;
z-index: 100;
cursor: pointer;
}

#usersidebar_profile_picture {
width: 189px;
height: 189px;
}

#usersidebar_profile_picture img {
width: 100%;
height: 100%;
}
	
#usersidebar_profile_name {
padding-top: 10px;
font-size: 20px;
font-weight: 300;
color: #505552;
}

.usersidebar_main {
width: 200px;
margin-left: 4.5px;
margin-right: 4.5px;
background-color: white;
position: absolute;
top: 243px;
box-shadow: 0px 2px 2px #CFCFCF;
z-index: 10;
overflow: scroll;
}

.usersidebar_main_sticky {
	height: 60%;
	position: fixed;
	top: 253px;
}

.usersidebar_header {
height: 30px;
position: relative;
}

.usersidebar_header_line {
height: 15px;
border-bottom: 1px solid #757C78;
}

.usersidebar_header_text {
position: absolute;
top: 9px;
background-color: white;
left: 20px;
padding-left: 8px;
padding-right: 8px;
color: #757C78;
font-weight: 700;
font-size: 10px;
}

#usersidebar_stats_notification {
height: 50px;
width: 150px;
margin-left: auto;
margin-right: auto;
color: #757C78;
}

#usersidebar_stats_notification_count {
float: left;
font-size: 36px;
font-weight: 200;
}

#usersidebar_stats_notification_text {
float: left;
padding-top: 15px;
padding-left: 15px;
font-size: 18px;
font-weight: 200;
}

#usersidebar_stats_count {
height: 80px;
width: 150px;
padding-top: 10px;
margin-left: auto;
margin-right: auto;
border-top: 1px solid #757C78;
}

#usersidebar_stats_feedcount {
width: 60px;
padding-right: 5px;
height: 80px;
margin-right: 4px;
float: left;
border-right: 1px solid #757C78;
}

#usersidebar_stats_clipcount {
width: 70px;
float: right;
height: 80px;
}

.usersidebar_stats_counter_div_count {
font-size: 24px;
font-weight: 200;
color: #757C78;
}

.usersidebar_stats_counter_div_text {
font-size: 14px;
font-weight: 200;
}

#usersidebar_trending {
margin-top: 15px;
background-color: white;
}

#usersidebar_trending_box {
padding-left: 15px;
padding-right: 15px;
height: 40px;
}

.usersidebar_trending_rank_active {
float: left;
font-size: 36px;
font-weight: 200;
color: #757C78;
}

.usersidebar_trending_keyword_active {
float: left;
padding-left: 15px;
padding-top: 7px;
font-size: 24px;
font-weight: 200;
color: #757C78;
}

#usersidebar_lists{
	margin-top: 15px;
}

#usersidebar_lists_toggle {
margin-bottom: 10px;
height: 50px;
}

.usersidebar_lists_toggle_button {
width: 60px;
height: 55px;
margin-right: 14px;
float: left;
background-color: white;
box-shadow: 0px 2px 2px #CFCFCF;
position: relative;
}

.usersidebar_lists_toggle_active {
background-color: #857C78;
}

#usersidebar_lists_toggle_friends {
margin-right: 0px;
}

#usersidebar_lists_toggle_feed img {
width: 22px;
position: absolute;
top: 16px;
left: 19px;
}

#usersidebar_lists_toggle_clips img {
width: 24px;
position: absolute;
top: 13px;
left: 17px;
}

#usersidebar_lists_toggle_friends img {
width: 20px;
position: absolute;
left: 20px;
top: 13px;
}

#usersidebar_lists_content {
margin-top: 15px;
padding-top: 8px;
background-color: white;
position: relative;
overflow: hidden;
border-top: 1px solid #DDD;
}

#usersidebar_lists_content_wrapper {
	width: 400px;
	-webkit-transition: all 0.2s ease-in-out;
}

#usersidebar_lists_content_parent {
float: left;
width:  200px;
}

#usersidebar_lists_content_children {
float: left;
width:  200px;
height: 276px;
overflow: scroll;
background-color: whiteSmoke;
}

#usersidebar_lists_feed {
font-size: 24px;
font-weight: 200;
padding-left: 10px;
padding-bottom: 8px;
border-bottom: 1px solid #DDD;
position: relative;
}

#usersidebar_lists_feed_update {
width: 150px;
margin-left: auto;
margin-right: auto;
margin-top: 15px;
padding-bottom: 15px;
}

#usersidebar_lists_feed_update_wrapper {
padding-top: 10px;
padding-bottom: 10px;
background-color: #857C78;
text-align: center;
box-shadow: 0px 2px 2px #CFCFCF;
text-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
color: white;
}

.usersidebar_list {
list-style-type: none;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 10px;
border-bottom: 1px solid #DDD;
font-size: 14px;
font-weight: 200;
background-color: #F9F9F9;
cursor: pointer;
position: relative;
}

.usersidebar_list_active {
font-weight: 700;
background-color: white;
}

.usersidebar_lists_edit {
width: 20px;
height: 20px;
position: absolute;
top: 3px;
right: 15px;
cursor: pointer;
}

.usersidebar_lists_edit img {
width: 100%;
height: 100%;
}

.usersidebar_list_item {
	-webkit-transition: all 0.15s ease-in-out;
}

.usersidebar_list_delete {
position: absolute;
background-color: #DA4F49;
color: white;
font-weight: 700;
font-size: 11px;
top: 10px;
padding-top: 1px;
padding-bottom: 2px;
padding-left: 4px;
padding-right: 4px;
border-radius: 8px;
text-shadow: 0 -1px -1px rgba(0, 0, 0, 0.25);
display: none;
cursor: pointer;
}

.usersidebar_list_toggle {
position: absolute;
top: 3px;
right: 0px;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 12px;
padding-right: 12px;
}

.usersidebar_lists_label_content{
	display: none;
}

.usersidebar_lists_label_content_header{
font-size: 24px;
font-weight: 200;
padding-top: 3px;
padding-left: 10px;
padding-bottom: 8px;
border-bottom: 1px solid #DDD;
background-color: white;
}

.usersidebar_lists_label_content_header_back {
width: 30px;
height: 30px;
float: left;
margin-right: 10px;
cursor: pointer;
}

.usersidebar_lists_label_content_header_back img {
width: 100%;
height: 100%;
}

.usersidebar_lists_label_content_text{
font-size: 24px;
font-weight: 200;
}

.usersidebar_list_add {
padding-top: 7px;
padding-bottom: 7px;
padding-left: 15px;
padding-right: 15px;
background-color: white;
box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.15);
border-radius: 5px;
border: 1px;
width: 155px;
}

.usersidebar_toggle {
padding-top: 10px;
padding-bottom: 10px;
padding-left: 88px;
padding-right: 97px;
background-color: white;
box-shadow: 0px 2px 2px #CFCFCF;
}

.usersidebar_sticky{
	position:fixed;
	top: -347px;
}

.usersidebar_toggled{
	top: 253px;
	height: 60%;
}

.usersidebar_toggle img {
	width: 15px;
}

	/*------------------------------------------------------------------*/
	/*the content section*/
	/*------------------------------------------------------------------*/
	
	#content {	/*The middle section, i.e. contents*/
	position:relative;
	overflow:hidden;
	min-height:2000px;
	margin-left:51px;
	}
	#articleContent{
		padding-left:40px;
		padding-top: 20px;
		padding-right: 260px;
	}
	#feedContent{
		padding-left:40px;
		padding-top: 20px;
		padding-right: 260px;
	}
	#clipContent{
		padding-left:40px;
		padding-top: 20px;
		padding-right: 260px;
	}
	
#header_container {
position: relative;
height: 180px;
margin-bottom: 2px;
margin-left: 2px;
box-shadow: inset 0px -3px 3px black;
background-color: rgba(0, 0, 0, 0.5);
}
	
#header_bg{
position: absolute;
z-index: -100;
width: 100%;
height: 100%;
}

	
#feed_info {
padding-left: 30px;
padding-top: 20px;
height:100px;
}
	
#feed_info h1 {
font-size: 40px;
margin: 0;
line-height: 1;
padding-top: 25px;
padding-left: 40px;
font-weight: 200;
color: white;
text-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}

.head_toolbar_container {
height: 60px;
}

.head_toolbar{
	padding-right: 250px;
	height:60px;
	background-color: rgba(0, 0, 0, 0.5);
}

.head_filtering {
position: absolute;
top: 7px;
left: 29px;
width: 105px;
}

.head_filtering_sticky{
	left: 180px;
}

#head_filtering_density {
width: 27px;
height: 27px;
padding: 10px;
float: left;
}

#head_filtering_infograph {
width: 27px;
height: 32px;
float: left;
margin-left: 10px;
padding: 10px;
padding-top: 7px;
}

.head_clipbox {
width: 170px;
}

#head_clipbox_add {
width: 27px;
height: 27px;
padding: 10px;
float: left;
}

#head_clipbox_friends {
width: 30px;
height: 30px;
padding: 10px;
padding-top: 8px;
margin-left: 10px;
float: left;
}

#head_clipbox_inbox {
width: 25px;
height: 25px;
padding: 10px;
padding-top: 11px;
margin-left: 10px;
float: left;
}


#addbox {
width: 272px;
margin-left: auto;
margin-right: auto;
padding-top: 13px;
position: relative;
}

#addbox_input {
padding-top: 7px;
padding-bottom: 7px;
padding-left: 10px;
width: 180px;
padding-right: 80px;
border-radius: 15px;
background-color: rgba(255, 255, 255, 0.1);
border: 1px solid #757C78;
font-weight: 200;
font-size: 13px;
}

#addbox_icon {
width: 15px;
height: 15px;
position: absolute;
top: 24px;
right: 13px;
}

.toolbox_icon{
	width: 100%;
	height: 100%;
}

.head_toolbar_wrapper {
width: 100%;
height: 100%;
position: relative;
}

.head_toolbox {
width: 25px;
height: 25px;
position: absolute;
right: 97px;
top: 18px;
}

.head_toolbox_wrapper {
position: relative;
}

.head_toolbox_text {
color: white;
position: absolute;
top: 3px;
left: 35px;
font-size: 15px;
font-weight: 200;
}

.head_toolbox_sticky {
right: 250px;
}

	.feed_toolbox{
		height:37px;
		float:right;
		padding-left:15px;
		padding-right:15px;
		padding-top:13px;
		border-left:thin solid #DDD;
		cursor:pointer;
	}
	
	.feed_toolbox:hover{
		background-color:#eee;
	}
	
	.feed_toolbox_left {
		float:left;
		border-left:none;
		border-right:thin solid #DDD;
	}
	.feed_toolbox_extended img{
		position:absolute;
	}
	
	.feed_toolbox_extended h6{
		margin:0;
		font-size:12px;
		padding-left:35px;
		padding-top:6px;
		color:#3D302F;
	}
	.feed_toolbox_active {
		background-color: #E9E9E9;
		box-shadow: inset 0 3px 5px 
		rgba(0, 0, 0, .05);
	}
	#ftbox_search{
		width:55px;
		height:50px;
		padding-left:0px;
		padding-right:0px;
		padding-top:0px;
		cursor:default;
		overflow:hidden;
	}
	
	#ftbox_search_button{
		width:24px;
		height:24px;
		padding-right:15px;
		padding-top:13px;
		padding-left:15px;
		padding-bottom:15px;
		float:right;
		cursor:pointer;
	}
	
	#ftbox_search_form{
		padding-left:10px;
		padding-top:13px;
		display:none;
	}
	
	#ftbox_search_form input[type="text"]{
		float:left;
		display:block;
		padding:3px;
		background-color:inherit;
		color:#3D302F;
		border-top-style: none;
		border-left-style: none;
		border-right-style: none;
		border-bottom-width: 1px;
		border-bottom-color: #3D302F;
		border-bottom-style: solid;
	}
	#ftbox_friends_popover{
		display:none;
		width: 200px;
		height: 400px;
		position: absolute;
		margin-top: 60px;
		margin-left: 60px;
		background-color: white;
		z-index: 100;
		-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
		-webkit-border-radius: 3px;
		border: 1px solid rgba(100, 100, 100, .4);
	}
	.ftbox_page{
		font-weight: 700;
		font-size: 16px;
		padding-top: 13px;
	}
	#ffp_arrow {
		position: absolute;
		top: -12px;
		left: 92px;
	}
	#ffp_title {
		width: 185px;
		border-bottom: thin solid #DDD;
		padding-top: 10px;
		padding-bottom: 7px;
		padding-left: 15px;
	}
	#ffp_title h6{
		margin: 0;
		font-size: 12px;
		color: #3D302F;
	}
	#ffp_contents{
		width:200px;
		height:327px;
	}
	.ffp_search{
		height: 25px;
		padding-left: 10px;
		padding-top: 5px;
		padding-bottom: 3px;
		border-bottom: thin solid #DDD;
		background-color: #FFFEF4;
	}
	.ffp_search input[type="text"] {
		float: left;
		display: block;
		padding: 3px;
		background-color: inherit;
		color: #3D302F;
		border-top-style: none;
		border-left-style: none;
		border-right-style: none;
		border-bottom-width: 1px;
		border-bottom-color: #3D302F;
		border-bottom-style: solid;
	}
	.ffp_search img {
		margin-left: 25px;
		padding-top: 5px;
		cursor: pointer;
	}
	#ffp_add{
		display:none;
	}
	.ffp_friend {
		height: 48px;
		padding-left: 10px;
		padding-top: 12px;
		border-bottom: thin solid #DDD;
	}
	.ffp_friend:hover{
		background-color:#FAFAFA;
	}
	.ffp_friend_profile {
		border: thin solid #DDD;
		width: 35px;
		height: 35px;
		float: left;
	}
	.ffp_friend_profile img {
		width: 100%;
		height: 100%;
	}
	.ffp_friend_info {
		padding-left: 5px;
		padding-top: 2px;
		font-weight: 700;
		float: left;
	}
	.ffp_friend_button {
		float: right;
		margin-right:15px;
		margin-top:8px;
	}
	#ffp_footer {
		position: absolute;
		bottom: 0;
		width: 145px;
		height: 40px;
		border-top: thin solid #DDD;
		padding-left:55px;
		background-color: #F7F7F7;
	}
	.ffp_toolbox{
		float: left;
		width: 21px;
		height: 29px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 12px;	
		cursor:pointer;
	}
	.ffp_toolbox:hover{
		background-color:#EEE;
	}
	.ffp_loading{
		margin-top:50px;
	}
	.sticky {
position: fixed;
top: 0;
left: -98px;
z-index: 50;
width: 100%;
}
	#userinfo{
		position: absolute;
		bottom: 0px;
		height: 30px;
		width: 167px;
		font-size: 16px;
		color: white;
	}
	#userinfo_overlay{
		width: 167px;
		height: 30px;
		background-color: black;
		opacity: 0.7;
		position: absolute;
	}
	#userinfo_content{
		position:absolute;
		width:157px;
		height:20px;
		opacity:0.9;
		padding:5px;
	}
	#userinfo_logout{
		position:absolute;
		right:10px;
		top:4px;
		opacity:0.9;
	}
	.entryContainer{
		margin-top: 20px;
		position: relative;
	}
	.entryMattress{
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
	}
	.entryMark{
		position: absolute;
		top: 50%;
		left: 30px;
		font-size: 20px;
		color: #635B58;
		font-weight: 700;
		text-align: center;
		line-height: 24px;
	}
	.entryMark img{
		display: block;
		width: 32px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 8px;
	}
	.entry {	/*sets padding between each entry of the feeds*/
	background:#FFFFFF;
	box-shadow: 0px 2px 2px #CFCFCF;
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
	}
	.entry_data{
		display:none;
	}
	.entry h2{
	display: inline;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	color:#333;
	}
	.entry p{
	font-size: 13px;
	line-height: 18px;
	color: #333;
	}
	.entry_header{
		border-bottom:thin;
		border-bottom-color:#ccc;
		border-bottom-style:solid;
		height:50px;
		padding-top:20px;
		padding-bottom:10px;
		margin-left:30px;
		margin-right:30px;
	}
	.entry_headline{
		display:inline;
		width:100%;
		float:left;
	}
	.entry_title{
		display:inline;
	}
	.entry_content{
		padding-top:20px;
		padding-bottom:20px;
		padding-left:10px;
		padding-right:10px;
		margin-left:30px;
		margin-right:30px;
		overflow: hidden;
	}
	.entry_content a{
		color:#08C;
	}
	.entry_info{
		padding-top:5px;
		float:left;
	}
	.entry_privacySetting{
		position:absolute;
		right:80px;
		z-index:5;
		margin-top:10px;
	}
	.eps_selector{
		padding-top:5px;
		padding-bottom:5px;
		padding-left:10px;
		padding-right:10px;
		margin-bottom:1px;
		background-color:#DDD;
		color:#575757;
		cursor:pointer;
		margin-bottom:1px;
	}
	.eps_public{
		background-color:#5BB75C;
		color:white;
	}
	.eps_public:hover{
		background-color:#489248;
	}
	.eps_private{
		background-color:#DA4F49;
		color:white;
	}
	.eps_private:hover{
		background-color:#CC3E38;
	}
	.entry_footer{
		border-top:thin;
		border-top-color:#DDD;
		border-top-style:solid;
		height:50px;
		background-color:#F7F7F7;
	}
	.entry_date{
		display:inline;
	}
	.entry_toolbox{
		float:left;
		padding-left:20px;
		padding-right:20px;
		padding-top:13px;
		cursor:pointer;
		height:37px;
		border-right:thin solid #DDD;
		z-index:1;
	}
	.entry_toolbox img{
		position:absolute;
	}
	.entry_toolbox h6{
		margin: 0px;
		font-size: 12px;
		padding-left: 35px;
		padding-top: 5px;
		color: #3D302F;
	}
	.entry_toolbox:hover{
		background-color:#eee;
	}
		.clipper{
		position:absolute;
		right:70px;
		display:inline;
		cursor:pointer;
	}
	.share_text{
		float: left;
	}
	.clip_text{
		float: left;
	}
.etbox_bump {
padding: 0px;
height: 50px;
}

.etbox_bump img {
position: relative;
float: left;
padding-top: 2px;
width: 20px;
height: 20px;
}

.etbox_bump_up {
height: 20px;
float: left;
padding-left: 20px;
padding-right: 20px;
padding-top: 13px;
padding-bottom: 17px;
}

.etbox_bump_up_count {
float: left;
margin-left: 10px;
padding-top: 2px;
font-size: 15px;
font-weight: 200;
}

.etbox_bump_down {
height: 20px;
float: left;
padding-left: 20px;
padding-right: 20px;
padding-top: 15px;
padding-bottom: 15px;
border-left: 1px solid #DDD;
}

.etbox_bump_down_count {
float: left;
margin-right: 10px;
font-size: 15px;
font-weight: 200;
}

	.etbox_count {
		float: left;
		margin-top: 3px;
		margin-left: 8px;
		background-color: #3D302F;
		color: white;
		padding-top: 3px;
		padding-bottom: 3px;
		padding-left: 5px;
		padding-right: 5px;
		border-radius: 2px;
		display: none;
	}
	.entry_toolbox_clip{
		position:absolute;
		right:70px;
		display:inline;
		cursor:pointer;
	}
	.etbox_share_popover{
		width: 340px;
		height: 33px;
		background-color: white;
		position: absolute;
		margin-top: 60px;
		margin-left: 100px;
		z-index: 3;
		-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
		-webkit-border-radius: 3px;
		border: 1px solid rgba(100, 100, 100, .4);
		display:none;
		padding-top: 8px;
		padding-left: 10px;
	}
	.esp_share input[type="text"] {
		float: left;
		display: block;
		padding: 3px;
		background-color: inherit;
		color: #3D302F;
		border-top-style: none;
		border-left-style: none;
		border-right-style: none;
		border-bottom-width: 1px;
		border-bottom-color: #3D302F;
		border-bottom-style: solid;
	}
	.eso_ego{
		float:left;
		width:200px;
	}
	.esp_send{
		padding: 5px;
		padding-left: 8px;
		padding-right: 8px;
		margin-left: 15px;
		width: 30px;
		float: left;
		background-color: #414141;
		color:white;
		cursor:pointer;
	}
	.esp_arrow {
		position: absolute;
		top: -11px;
		left: 165px;
	}
	.esp_sns {
		float: left;
		width: 120px;
		height: 24px;
		margin-left: 10px;
		padding-left:10px;
		border-left: thin dashed 
		#7C7C7C;
	}
	.esp_icon{
		float:left;
		margin-left:12px;
		cursor:pointer;
	}
	#loading{
		padding-top:10px;
		padding-bottom:30px;
	}
	#popup {	/*popup box*/
		position:fixed;
		width:500px;
		height:500px;
		background-color:#FFFFFF;
		z-index:5;
	}
	
	/* Front Page */
	#NowAtContainer {
		padding-top: 13px;
		padding-bottom: 20px;
		padding-left: 17px;
		padding-right: 17px;
		margin-bottom: 20px;
		background-color: white;
		border: thin solid #DDD;
		box-shadow: 0px 2px 2px #CFCFCF;
	}
	#NowAtContainerMain{
			padding-top: 7px;
			padding-bottom: 7px;
			padding-left: 7px;
			padding-right: 7px;
			margin-top: 10px;
			margin-bottom: 15px;
			margin-right: 10px;
			background-color: white;
			border: thin solid #DDD;
			box-shadow: 0px 2px 2px #CFCFCF;
			width: 153px;
	}
	.stickyNowAt {
		position: fixed;
		z-index: 5;
	}
	#NowAt {
		border: 5px solid #DA4F49;
		cursor: pointer;
	}
	#NowAtVisible{
		font-weight:700;
	}
	#NowAtHidden{
		display:none;
	}
	.NowAtEntry {
		padding-left: 10px;
		padding-right:10px;
		padding-top: 5px;
		padding-bottom: 5px;
		overflow:hidden;
	}
	.NowAtEntryRank {
		float: left;
		margin-right: 10px;
	}
	#NowAtConfig {
		float: right;
		padding: 3px;
		color: #7C7C7C;
		font-size: 10px;
	}
	#NowAtToolbox {
		height: 30px;
		margin-top: 10px;
	}
	.NowAtToolboxIcon {
		float: left;
		padding-left: 25px;
	}
	#nowat {
		margin-bottom:30px;
		margin-left: 40px;
		margin-right: 30px;
	}
	#fpRight {
		width: 200px;
		margin-right:30px;
		float: right;
	}
	
	#fpAddboxContainer {
		height: 65px;
		padding-top: 13px;
		padding-left: 17px;
		padding-right: 17px;
		margin-bottom: 20px;
		background-color: white;
		border: thin solid #DDD;
		box-shadow: 0px 2px 2px #CFCFCF;
	}
	#fpAddbox {
		padding-top: 18px;
		padding-bottom: 18px;
		padding-left: 24px;
		background-color: #5BB75C;
		border-radius: 1px;
		color: white;
		text-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
		font-weight: 700;
		cursor: pointer;
	}
	
	#genieHeader {
		height: 40px;
		padding-top: 20px;
		padding-left: 20px;
		margin-bottom: 5px;
		font-size: 20px;
		color: white;
		background-color: #857C78;
		text-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
		box-shadow: 0px 2px 2px #CFCFCF;
	}
	#genieContents {
		min-height: 440px;
		background-color: white;
		box-shadow: 0px 2px 2px #CFCFCF;
		padding-left: 15px;
		padding-right: 15px;
	}
	.genieEntry {
		border-bottom: thin solid #DDD;
		height: 40px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.genieEntryThumbnail {
		width: 40px;
		height: 40px;
		float: left;
		border: thin solid #DDD;
	}
	.genieEntryContents {
		float: left;
		padding-left: 10px;
	}
	.genieEntrySource {
		font-size: 13px;
		margin-bottom: 5px;
	}
	
	#featured {
		margin-right: 250px;
		margin-left:40px;
	}
	#featuredHeader {
		margin-bottom:5px;
	}
	.genieEntryFollowers {
		font-size: 11px;
		color: #7C7C7C;
	}
	#featuredTitle {
		float: left;
		width: 220px;
		height: 41px;
		padding-left: 20px;
		padding-top: 20px;
		font-size: 20px;
		background-color: #4989DA;
		color: white;
		text-shadow:0 2px 3px rgba(0, 0, 0, 0.25);
		box-shadow: 0px 2px 2px #CFCFCF;
	}
	#featuredOptions {
		height: 43px;
		margin-left: 245px;
		padding-top: 18px;
		background-color: white;
		box-shadow: 0px 2px 2px #CFCFCF;
	}
	.featuredOptionsBox {
		float: right;
		padding: 5px;
		padding-left: 10px;
		padding-right: 10px;
		background-color: #DDD;
		color: #5C5C5C;
		margin-right: 10px;
		border-radius: 1px;
		cursor:pointer;
	}
	.featuredOptionsBox:hover{
		background-color:#CCC;
	}
	.featuredOptionsActive {
		background-color: #4989DA;
		color: white;
	}
	.featuredOptionsActive:hover{
		background-color:#4989DA;
	}
	#featuredCategoryAdd {
		float: right;
		padding-top: 5px;
		padding-bottom: 8px;
		padding-left: 12px;
		padding-right: 12px;
		background-color: #4989DA;
		color: white;
		font-size: 20px;
		box-shadow: 0px 2px 2px #CFCFCF;
	}
	#featuredMenu {
		height: 37px;
		overflow: hidden;
		background-color: #333;
		color: white;
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 5px;
		margin-right: 41px;
		box-shadow: 0px 2px 2px #CFCFCF;
	}
	.featuredCategory {
		float: left;
		height: 20px;
		margin-right: 5px;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 12px;
		font-size: 12px;
		font-weight: 700;
		cursor: pointer;
	}
	.featuredCategory:hover{
		border-bottom: 5px solid #4989DA;
	}
	.featuredCategoryActive {
		border-bottom: 5px solid #4989DA;
	}
	
	#featuredContents {
		background-color: white;
		box-shadow: 0px 2px 2px #CFCFCF;
		padding-left: 15px;
		padding-right: 15px;
	}	
	.featuredEntry {
		padding-top: 10px;
		height: 90px;
		border-bottom: thin solid #DDD;
	}
	.featuredEntryThumbnail {
		float: left;
		width: 70px;
		height: 70px;
		border: thin solid #DDD;
	}
	.featuredEntryThumbnail img{
		width: 100%;
		height: 100%;
	}
	.featuredEntryToolbox {
		float: right;
		width: 70px;
		height: 90px;
	}
	.featuredEntryToolboxButton {
		height: 20px;
		padding-top: 4px;
		padding-left: 7px;
		padding-right: 7px;
		margin-top: 3px;
		background-color: #DDD;
		border-radius: 1px;
		cursor:pointer;
	}
	.featuredEntryToolboxButton:hover{
		background-color: #CCC;
	}
	.featuredEntryToolboxIcon {
		float: left;
	}
	.featuredEntryToolboxText {
		float: left;
		margin-left: 10px;
		font-size: 11px;
		font-weight: 700;
	}
	.featuredEntryContents {
		height: 60px;
		margin-right: 150px;
		padding-left: 15px;
		padding-top: 5px;
		overflow: hidden;
	}
	.featuredEntryTitle {
		white-space: nowrap;
		margin-bottom: 5px;
		font-size: 16px;
		color: #206FD3;
		cursor: pointer;
	}
	.featuredEntrySource {
		white-space: nowrap;
		color: #7C7C7C;
		cursor: pointer;
	}
	/*the forms*/
	
	#toolbox{	/*the toolbox*/
		position:fixed;
		top:40%;
		right:40%;
	}
	#labelbox{
		display:none;
	}
	#managebox{
		display:none;
	}
	.formbox {	/*the formbox within the toolbox*/
		background-color:#FFFFFF;
		border:thin;
		border-style:solid;
		width:300px;
		height:auto;
		box-shadow: 5px 5px rgba(0,0,0,0.5);
		z-index:10;
	}
	.formhead{	/*the title section of toolbox*/
		padding-left:10px;
		overflow:hidden;
		width:290px;
		background-color:#333333;
		height:30px;
	}
	.formtitle{	/*style for the fonts in formhead*/
		font-size:13px;
		color:#FFFFFF;
	}
	.form {	/*style for form as a whole*/
		padding-top:10px;
	}
	.forminnerhead {	/*the header for forms*/
		margin-left:5px;
		margin-right:5px;
		padding-top:10px;
		padding-left:5px;
		padding-bottom:3px;
		font-size:10px;
		font-weight:700;
		color:#888888;
		border-bottom:thin;
		border-color:#888888;
		border-bottom-style:dashed;
	}
	#formfeed{	/*style for feed forms - checkbox*/
		padding-top:5px;
		padding-left:10px;
	}
	#formlabel{	/*style for label forms - checkbox*/
		padding-top:5px;
		padding-left:10px;
	}
	.forminput{	/*style for feed forms - inputs*/
		padding-top:10px;
		padding-left:10px;
	}
	.formfoot{	/*style for submit buttons*/
		padding-left:120px;
		padding-top:5px;
		background-color:#DBDBDB;
		height:35px;
	}
	.forminput input[type=text] {
		display:block;
		padding: 1em;
		width:250px;
		border:1px solid #857c78;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	}
	.formfoot input[type=submit], .formfoot input[type=button]{
		border: 1px solid #857c78;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		margin-right:1em;
		padding:6px;
		text-decoration: none;
		font-size:11px;
		font-weight:700;
		background: #F2F2F2; 
		-moz-box-shadow: 0 1px 0 white;
		-webkit-box-shadow: 0 1px 0 white;
	}
	.formfoot input[type=submit]:hover, .formfoot input[type=button]:hover{
		cursor: pointer;
	}
	#end_clipContent{
		height:100px;
	}
	#end_feedContent{
		height:100px;
	}
	/*------------------------------------------------------------------*/
	/*the footer section*/
	/*------------------------------------------------------------------*/
	#footer{
		position: fixed;
		bottom: 0px;
		width:100%;
		z-index:50;
	}
	
#ultra_modal {
width: 100%;
height: 100%;
position: fixed;
z-index: 100;
background-color: #DDD;
opacity: 0.98;
display: none;
}

#ultra_modal_container {
width: 1024px;
height: 100%;
padding-top: 60px;
margin-left: auto;
margin-right: auto;
position: relative;
}

.ultra_modal_header {
font-size: 50px;
font-weight: 100;
color: #645D5A;
padding-bottom: 20px;
border-bottom: 1px solid #C2C2C2;
}

.ultra_modal_footer {
position: absolute;
width: 100%;
height: 80px;
bottom: 120px;
border-top: 1px solid #C2C2C2;
}

.ultra_modal_footer_button {
float: right;
padding-top: 10px;
padding-left: 20px;
padding-right: 20px;
font-size: 24px;
font-weight: 200;
color: #645D5A;
}

#ultra_modal_x {
position: absolute;
right: 50px;
top: 0px;
font-size: 64px;
font-weight: 100;
color: #645D5A;
cursor: pointer;
}
	
.tooltip {
  position: absolute;
  z-index: 1020;
  display: block;
  padding: 5px;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
}

.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.tooltip.top {
  margin-top: -2px;
}

.tooltip.right {
  margin-left: 2px;
}

.tooltip.bottom {
  margin-top: 2px;
}

.tooltip.left {
  margin-left: -2px;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top: 5px solid #000000;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000000;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000000;
  border-left: 5px solid transparent;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-right: 5px solid #000000;
  border-bottom: 5px solid transparent;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
}

.modal-open .dropdown-menu {
  z-index: 2050;
}

.modal-open .dropdown.open {
  *z-index: 2050;
}

.modal-open .popover {
  z-index: 2060;
}

.modal-open .tooltip {
  z-index: 2070;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin: -250px 0 0 -280px;
  overflow: auto;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
      -ms-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modal.fade.in {
  top: 50%;
}

.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}

.modal-close {
	position: absolute;
	right: 20px;
	top: 10px;
	color:#635E5E;
	font-size:20px;
}
.modal-body {
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}

.modal-form {
  margin-bottom: 0;
}

.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  content: "";
}

.modal-footer:after {
  clear: both;
}

.modal-button{
	float: right;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	background-color: #635E5E;
	margin-right: 20px;
	cursor:pointer;
}



#profile_modal{
	display:none;
}
	